.modal {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  right: -200%;
  background-color: rgba(255red, 255, 255, 0);
  z-index: 100;

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 110;
    background-color: rgba(255red, 255, 255, 1);
    border-left: 1px solid $frosted-mint;

    box-shadow: 16px 0px 52px 0px #0e185033;

    @media screen and ($screen-tablet) {
      max-width: 440px;
    }
  }
  &__button {
    align-self: flex-start;
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;

    gap: 15px;
  }
  &--active {
    right: 0;
    background-color: rgba(255red, 255, 255, 0.8);
  }
  &__consent {
    font-size: $font-size-tiny;
    line-height: $line-height-tiny;
    font-weight: $font-weight-medium;
  }
  &__link {
    color: $radical-red;
  }
  &__close {
    margin-bottom: 25px;
    align-self: flex-start;
    @media screen and ($screen-tablet) {
      position: absolute;

      left: -70px;
    }
  }
}
