.types {
  position: relative;
  &__container {
    // position: relative;
  }
  &__swiper {
    height: 200px;

    @media screen and ($screen-tablet) {
      height: auto;

      &-wrapper {
        --gap: 30px;
        --elements: 3;

        display: flex;

        flex-wrap: wrap;

        gap: var(--gap);

        margin-bottom: 25px;
      }
      &-slide {
        width: calc(
          (100% - (var(--elements) - 1) * var(--gap)) / (var(--elements))
        );
      }
      &-button {
        display: inline-block;
        &--active {
          &::before {
            transform: rotate(180deg);
          }
          &:hover {
            &::before {
              transform: translateY(-1px) rotate(180deg);
            }
          }
        }
      }
    }
    @media screen and ($screen-desktop) {
      &-wrapper {
        --elements: 4;
      }
    }
    &-slide {
      max-height: 160px;
    }
  }
}
